.form-control.input.dragging {
  background-color: #d9edf7;
}

textarea {
  font-family: monospace;
}

.compressed-actions {
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-tabs {
  margin-bottom: 15px;
}
